{% extends 'base.html' %}
{% load url from future %}

{% block content %}
        <div class="hero-unit">
            <h1>Shoplist<h2></h1>
            <h2>A sua lista de compras inteligente.</h2>
            <br>    
            <p>
              <a class="btn btn-danger btn-large" href="{% url 'socialauth_begin' 'google' %}">Login via Google</a>
              <a class="btn btn-primary btn-large" href="{% url 'socialauth_begin' 'facebook' %}">Login via Facebook</a>
              <a rel="nofollow" class="btn btn-warning btn-large" id="browserid" href="#">Login via Mozilla Persona</a>
            </p>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Crie</h2>
                <p>Crie rapidamente sua lista de compras. Reaproveite itens de listas
                anteriores. Acompanhe seus gastos. Veja quais os itens mais comprados.
                Export sua lista para diversos formatos.</p>
            </div>
            <div class="span4">
                <h2>Compare</h2>
                <p>Compare os preços dos itens de sua lista utilizando serviços de busca online.
                Veja quanto gastou na última compra. Verifique estimativa de gastos para não ter
                surpresas no caixa.</p>
            </div>
            <div class="span4">
                <h2>Compartilhe</h2>
                <p>Compartilhe sua lista de compras com amigos. Compartilhe os preços de produtos
                nas lojas de sua preferência. Recomende locais de compra. Compartilhe sua lista
                por e-mail. Seja social.</p>
            </div>
        </div>
{% endblock content %}

{% block js_script %}
  <script src="https://login.persona.org/include.js"></script>

  <form id="browserid_form" method="post" action="/complete/browserid/">
    <input type="hidden" name="assertion" value="" />

    <script type="text/javascript">
      $(function () {
        $('#browserid').click(function (e) {
          e.preventDefault();

          navigator.id.get(function (assertion) {
            if (assertion) {
              $('#browserid_form').find('input[type=hidden]')
                    .attr('value', assertion)
                    .end()
                    .submit();
            } else {
              alert('Some error occurred');
            }
          });
        });
      });
    </script>
  </form>
{% endblock js_script %}
