{% extends 'base.html' %}
{% load url from future %}

{% block content %}

    <form action="{% url 'core:shoplist' %}" method="POST">
        {% csrf_token %}
        <label>Lista de Compras:</label>
        {% if form.name.errors %}
        <div class="alert alert-error">
            {{ form.name.errors.as_text }}
        </div>
        {% endif %}
        <div class="input-append">
            {{ form.name }}
            <input type="submit" value="Criar" class="btn btn-primary">
        </div>
    </form>

    {% if shoplists %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="span5">Nome da Lista</td>
                <th class="span3" style="text-align: center;">Quantidade de Produtos</td>
                <th class="span2" style="text-align: center;">Data</td>
                <th class="span2" style="text-align: center;">Ação</td>
            </tr>
        </thead>
        <tbody>
    {% for shoplist in shoplists %}
            <tr>
                <td class="span6">{{ shoplist.name }}</td>
                <td class="span2" style="text-align: center;">{{ shoplist.num_products }}</td>
                <td class="span2" style="text-align: center;">{{ shoplist.created_at|date:"d M Y - H\hi" }}</td>
                <td class="span2" style="text-align: center;">
                    <i class="icon-pencil"></i>
                    <i class="icon-remove"></i>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock content %}
