{% extends 'base.html' %}
{% load url from future %}

{% block content %}

    <form action="{% url 'core:shoplist' %}" method="POST">
        {% csrf_token %}
        <label>Lista de Compras:</label>
        {% if form.name.errors %}
        <div class="alert alert-error">
            {{ form.name.errors.as_text }}
        </div>
        {% endif %}
        <div class="input-append">
            {{ form.name }}
            <input type="submit" value="Criar" class="btn btn-primary">
        </div>
    </form>

    {% if shoplists %}
    <table id="shoplists_table" class="table table-hover">
        <thead>
            <tr>
                <th class="span5">Nome da Lista</th>
                <th class="span3" style="text-align: center;">Quantidade de Produtos</th>
                <th class="span2" style="text-align: center;">Data de Criação</th>
                <th class="span2" style="text-align: center;">Ação</th>
            </tr>
        </thead>
        <tbody>
    {% for shoplist in shoplists %}
            <tr>
                <td class="span6">
                    <input id="listname_{{ shoplist.id }}" name="listname_{{ shoplist.id }}" type="text" placeholder="Digite o nome da lista…" value="{{ shoplist.name }}" style="display: none;" onblur="updateListName({{ shoplist.id }});">
                    <label id="label_{{ shoplist.id }}">
                        {{ shoplist.name }}
                    </label>
                </td>
                <td class="span2" style="text-align: center;">{{ shoplist.num_products }}</td>
                <td class="span2" style="text-align: center;">{{ shoplist.created_at|date:"d M Y - H\hi" }}</td>
                <td class="span2" style="text-align: center;">
                    <div id="edit_buttons_{{ shoplist.id }}">
                        <button class="btn" onclick="editButton({{ shoplist.id }});"><i class="icon-edit"></i></button>
                        <button class="btn" onclick="removeListName({{ shoplist.id }});"><i class="icon-trash"></i></button>
                    </div>
                    <div id="update_buttons_{{ shoplist.id }}" style="display: none;">
                        <button class="btn" onclick="updateListName({{ shoplist.id }});"><i class="icon-ok"></i></button>
                        <button class="btn" onclick="cancelEditButton({{ shoplist.id }});"><i class="icon-stop"></i></button>
                    </div>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock content %}

{% block js_script %}
    {% if shoplists %}
    <script type="text/javascript">
        function editButton(list_id)
        {
            $("#label_"+list_id).hide();
            $("#listname_"+list_id).show();
            $("#edit_buttons_"+list_id).hide();
            $("#update_buttons_"+list_id).show();
            $("#listname_"+list_id).val($("#label_"+list_id).text().trim());
            $("#listname_"+list_id).focus();
        }

        function cancelEditButton(list_id)
        {
            $("#label_"+list_id).show();
            $("#listname_"+list_id).hide();
            $("#edit_buttons_"+list_id).show();
            $("#update_buttons_"+list_id).hide();
        }

        $(document).keyup(function(e)
        {
            if (e.keyCode == 27) {
                $('input[name^="listname_"]').hide();
                $('label[id^="label_"]').show();
                $('div[id^="edit_buttons_"]').show();
                $('div[id^="update_buttons_"]').hide();
            } // ESC pressed
        });

        function updateListName(list_id)
        {
            var shoplist_id = list_id;
            var shoplist_name = $("#listname_"+shoplist_id).val().trim();
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'core:update_shoplist' %}",
                    data: "id="+shoplist_id+"&name="+shoplist_name,
                    success: function(data){
                        $("#label_"+list_id).text($("#listname_"+shoplist_id).val());
                        $("#label_"+list_id).show();
                        $("#listname_"+list_id).hide();
                        $("#edit_buttons_"+list_id).show();
                        $("#update_buttons_"+list_id).hide();
                    }
                });
        }

        function removeListName(list_id)
        {
            var shoplist_id = list_id;
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'core:remove_shoplist' %}",
                    data: "id="+shoplist_id,
                    success: function(data){
                        $("#edit_buttons_"+shoplist_id).parent().parent().remove();
                        var row_count = $("#shoplists_table > tbody > tr").length;
                        if (row_count == 0)
                            $("#shoplists_table").remove();
                    }
                });
        }
    </script>
    {% endif %}
{% endblock js_script %}
