{% extends 'base.html' %}
{% load url from future %}

{% block content %}

    <div class="page-header">
        <h1>Lista de Compras</h1>
        <h3>{{ shoplist.name }} <small>(<a href="">editar</a>)</small></h3>

        <label>Adicionar item:</label>
        <form action="{% url 'core:shoplist_items' shoplist.pk %}" class="form-inline" method="POST">
            {% csrf_token %}
            {{ form.shop_list.as_hidden }}
            {{ form.product }}
            {{ form.quantity }}
            <div class="input-prepend">
            <span class="add-on">R$</span>
            {{ form.price }}
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>

    {% if list_items %}
    <table id="list_items_table" class="table table-hover">
        <thead>
            <tr>
                <th class="span5">Produto</th>
                <th class="span3" style="text-align: center;">Quantidade</th>
                <th class="span2" style="text-align: center;">Preço</th>
                <th class="span2" style="text-align: center;">Ação</th>
            </tr>
        </thead>
        <tbody>
        {% for item in list_items %}
            <tr>
                <td class="span5">
                    <input id="product_{{ item.pk }}" name="product_{{ item.pk }}" type="text" value="" placeholder="Produto" class="input-large" style="display: none;">
                    <a href="#">
                        <label id="label_product_{{ item.pk }}">
                            {{ item.product.name }}
                        </label>
                    </a>
                </td>
                <td class="span3" style="text-align: center;">
                    <input id="quantity_{{ item.pk }}" name="quantity_{{ item.pk }}" type="text" value="" placeholder="Qtde" class="input-mini" style="display: none;">
                    <label id="label_quantity_{{ item.pk }}">
                        {{ item.quantity }}
                    </label>
                </td>
                <td class="span2" style="text-align: center;">
                    <div id="div_price_{{ item.pk }}" class="input-prepend" style="display: none;">
                        <span class="add-on">R$</span>
                        <input id="price_{{ item.pk }}" name="price_{{ item.pk }}" type="text" value="" placeholder="Preço" class="input-mini">
                    </div>
                    <label id="label_price_{{ item.pk }}">
                        {% if item.price %}
                        R$ {{ item.price }}
                        {% endif %}
                    </label>
                </td>
                <td class="span2" style="text-align: center;">
                    <div id="edit_buttons_{{ item.pk }}">
                        <button class="btn" onclick="editButton({{ item.pk }});"><i class="icon-edit"></i></button>
                        <button class="btn" onclick="removeButton({{ item.pk }});"><i class="icon-trash"></i></button>
                    </div>
                    <div id="update_buttons_{{ item.pk }}" style="display: none">
                        <button class="btn" onclick="updateButton({{ item.pk }});"><i class="icon-ok"></i></button>
                        <button class="btn" onclick="cancelButton({{ item.pk }});"><i class="icon-stop"></i></button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock content %}

{% block js_script %}
    <script type="text/javascript">
        function editButton(item_id)
        {
            $("#label_product_"+item_id).hide();
            $("#product_"+item_id).show();
            $("#product_"+item_id).val($("#label_product_"+item_id).text().trim());
            $("#label_quantity_"+item_id).hide();
            $("#quantity_"+item_id).show();
            $("#quantity_"+item_id).val($("#label_quantity_"+item_id).text().trim());
            $("#label_price_"+item_id).hide();
            $("#div_price_"+item_id).show();
            var pc = $("#label_price_"+item_id).text().trim();
            pc = pc.replace("R$ ", "");
            $("#price_"+item_id).val(pc);
            $("#edit_buttons_"+item_id).hide();
            $("#update_buttons_"+item_id).show();
        }

        function cancelButton(item_id)
        {
            $("#label_product_"+item_id).show();
            $("#product_"+item_id).hide();
            $("#label_quantity_"+item_id).show();
            $("#quantity_"+item_id).hide();
            $("#label_price_"+item_id).show();
            $("#div_price_"+item_id).hide();
            $("#edit_buttons_"+item_id).show();
            $("#update_buttons_"+item_id).hide();
        }

        function updateButton(item_id)
        {
            var product = $("#product_"+item_id).val().trim();
            var qtd = $("#quantity_"+item_id).val().trim();
            var price = $("#price_"+item_id).val().trim();
            $.ajax(
                {
                    type: "GET",
                    url: "{% url 'core:update_list_item' shoplist.pk %}",
                    data: "id="+item_id+"&product="+product+"&quantity="+qtd+"&price="+price,
                    success: function(data){
                        $("#label_product_"+item_id).show();
                        $("#product_"+item_id).hide();
                        $("#label_product_"+item_id).text(product);
                        $("#label_quantity_"+item_id).show();
                        $("#quantity_"+item_id).hide();
                        $("#label_quantity_"+item_id).text(qtd);
                        $("#label_price_"+item_id).show();
                        $("#div_price_"+item_id).hide();
                        if (price != '')
                            $("#label_price_"+item_id).text("R$ " + price);
                        $("#edit_buttons_"+item_id).show();
                        $("#update_buttons_"+item_id).hide();
                    }
                });
        }

        function removeButton(item_id)
        {
            if (confirm('Deseja realmente deletar o item "'+$("#label_product_"+item_id).text().trim()+'"?')) {
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'core:remove_list_item' shoplist.pk %}",
                        data: "id="+item_id,
                        success: function(data){
                            $("#edit_buttons_"+item_id).parent().parent().remove();
                            var row_count = $("#list_items_table > tbody > tr").length;
                            if (row_count == 0)
                                $("#list_items_table").remove();
                        }
                    });
            }
        }

        $(document).keyup(function(e)
        {
            if (e.keyCode == 27) {
                $('input[name^="product_"]').hide();
                $('label[id^="label_product_"]').show();
                $('input[name^="quantity_"]').hide();
                $('label[id^="label_quantity_"]').show();
                $('div[id^="div_price_"]').hide();
                $('label[id^="label_price_"]').show();
                $('div[id^="edit_buttons_"]').show();
                $('div[id^="update_buttons_"]').hide();
            } // ESC pressed
        });
    </script>
{% endblock js_script %}
