{% extends 'base.html' %}
{% load url from future %}

{% block content %}

    <div class="page-header">
        <h1>Lista de Compras</h1>
        <h3>{{ shoplist.name }} <small>(<a href="">editar</a>)</small></h3>

        <label>Adicionar item:</label>
        <form action="{% url 'core:shoplist_items' shoplist.pk %}" class="form-inline" method="POST">
            {% csrf_token %}
            {{ form.shop_list.as_hidden }}
            {{ form.product }}
            {{ form.quantity }}
            <div class="input-prepend">
            <span class="add-on">R$</span>
            {{ form.price }}
            </div>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>

{% endblock content %}

{% block js_script %}

{% endblock js_script %}

